

body{
  margin: 0;
}

.page{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid #eaecf0;
  width:81px;
  padding: 0;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 32px;
  gap:24px;
}

.header{
  padding-right: 20px;
  padding-left: 24px;
}

.header-image{

  width: 32px;
  height: 32px;
}

.navbar-menu{
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: flex-start;
  gap:8px;
}

.navbar-item{
  width: 48px;
  height: 48px;
  border-radius: 6px;
  padding: 12px;
  gap: 8px
}

.navbar-image{
  width: 24px;
  height:24px;
}

.main-section{
  width: 100%;
}

.page-header{
  display: flex;
  flex-direction: column;
  height: 360px;
  background: #fcfcfd;
}

.container{
  padding: 0 32px;
  height: 160px;
  margin-top: -50px;
}

.avatar-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
}

.personal-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 64px 0 0;
  gap: 20px;
}

.about{
  padding: 0;
  gap: 4px;
  width: 589px;
}

.about h1,p{
  margin: 0;
}

.about h1{
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
}

.about p{
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.button-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.share-button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: white;
  border: 1px solid #d0d5dd;
  padding: 10px 16px;
  box-shadow: 0 1px 2px rgba(16,24,40,0.5);
  width: 100px;
  height: 40px;
  gap:8px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.view-profile-button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #7f56d9;
  border: 1px solid #7f56d9;
  padding: 10px 16px;
  box-shadow: 0 1px 2px rgba(16,24,40,0.5);
  width: 115px;
  height: 40px;
  gap:8px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.main-content{
  background: #fcfcfd;
}

.content-container{
  padding: 50px 32px;
}

.sections-conatiner{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.section1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  padding-bottom: 40px;
  gap: 32px;
  background: #fcfcfd;
}

.section1-1{
  width: 280px;
  padding: 0;
}

.section1-1 h3,p{
  margin: 0;
}

.section1-1 h3{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.section1-1 p{
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}

.section1-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  background: white;
  border: 1px solid #eaecf0;
  border-radius: 12px;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

.section1-2-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
}

.name-section{
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
}

.first-name{
  padding: 0;
}

.headings{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.name-buttons{
  margin-top: 5px;
  width: 315px;
  padding: 5px 14px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.file-input-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.file-upload-section{
  box-sizing: border-box;
  width: 594px;
  border: 1px dashed #eaecf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  gap: 4px;
  border-radius: 12px;

}

.footer{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
  /* margin-left: 500px; */
}

.available-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

.available-content h3,p{
  margin: 0;
}

.available-content h3{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.available-content p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}

.merge-boxes{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  padding-top: 5px;
}

.button1{
  box-sizing: border-box;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px 12px 10px 14px;


  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.button2{
  box-sizing: border-box;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 14px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
